.margin_b20{margin-bottom: 20px;}
.margin_t20{margin-top: 20px;}
.margin_tl0{margin-left: 20px;}
.margin_0{margin: 0px;}
.margin_t10{margin-top: 10px;}
.width_auto{width:0% !important}

.clearfix {
clear: both;
}
h4{color: #1171CA;}

.navbar .nav> li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.content {
    margin-top: 50px;
    width: 100%;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#ddd;
   -webkit-box-shadow: 0 8px 6px 6px black;
     -moz-box-shadow: 0 8px 6px 6px black;
          box-shadow: 0 8px 6px 6px black;
}
footer p{
     padding: 5px 0 12px 10px;
}

.navlist li
{
  display: inline;
  list-style-type: none;
}

input.icon-toggle[type=checkbox] + label::before
{
color: #999;
font-size: 20px;
text-align: center;
}
input.icon-toggle[type=checkbox]:checked + label::before
{
color: #E4BF00;
padding: 0 0 0 0px;
}
.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: tomato;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}

