<!doctype html>
<html lang="en" ng-app="fantasyApp">
<head>
  <meta charset="utf-8">
  <title>Medicare Reimbursment App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/bootstrap/docs/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="lib/bootstrap/docs/assets/css/bootstrap-responsive.css" />
</head>
<body>

  <header data-ng-include="'views/header.html'" class="navbar navbar-fixed-top navbar-inverse ng-scope"></header>

  <section class="content" ng-controller="CMS_controller">
    <section class="container">
      <form id="search_json" class="form-search">
        <input id="zip_code" type="text" placeholder="Enter zip code" class="search-query" ng-model="searchTerm"> 
        <button type="submit" ng-click="search()">Search</button>
      </form>
  

<!-- {{data}}
 -->  <div ng-show="data" > 
            <strong>Results: {{data.length}} health care providers in {{searchTerm}}</strong>
        </div>
      <div class="accordion" id="results" ng-repeat="item in data">
        <div ng-repeat = "provider in item.provider">
          <!-- <button type="button" class="btn btn-default btn-small" data-toggle="" ><i class="icon-plus icon"></i></button> -->
         <h4 class="provider_name span5" ng-show="$first"> {{provider[1]}} {{provider[2]}} </h4>
         <span class="span5" ng-show="$first">{{provider[8]}}</span>

         <div class="span12 provider_address" ng-show="$first">{{provider[3]}} {{provider[4]}}, {{provider[5]}}, {{provider[6]}} {{provider[7]}}</div >
          
        </div>
        
 
      <div  class="span12">
        {{item.values
      }}
        <table >
          <tr>
            <td></td>
            
          </tr>
          
        </table>
      </div>

  </div> 

</section>
</section>

<script src="http://static.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="lib/bootstrap/js/bootstrap-collapse.js"></script>
<script src="lib/bootstrap/js/bootstrap-button.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/angular-fire/angularFire.js"></script>
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/controllers/headercontroller.js"></script>
<script src="js/controllers/signincontroller.js"></script>
<script src="js/controllers/signupcontroller.js"></script>
<script src="js/controllers/CMS_controller.js"></script>
<script src="js/services/loginservice.js"></script>
<script src="js/services/profilecreator.js"></script>
<script src="js/services/CMS_service.js"></script>
</body>
</html>
